In [2]:
import pandas as pd
import numpy as np

movies_df = pd.read_csv('movies_2.csv') # Gathering data
movies_df.head(10)

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
0,1,Look Who's Talking,PG-13,7500000.0,296000000.0,1989-10-12,Romance,93.0,5.9,73638.0,"After a single, career-minded woman is left on..."
1,2,Driving Miss Daisy,PG,7500000.0,145793296.0,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
2,3,Turner & Hooch,PG,13000000.0,71079915.0,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
3,4,Born on the Fourth of July,R,14000000.0,161001698.0,1989-12-20,War,145.0,7.2,91415.0,The biography of Ron Kovic. Paralyzed in the V...
4,5,Field of Dreams,PG,15000000.0,84431625.0,1989-04-21,Drama,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."
5,6,Uncle Buck,PG,15000000.0,79258538.0,1989-08-16,Family,100.0,7.0,77659.0,Bachelor and all-round slob Buck babysits his ...
6,7,When Harry Met Sally...,R,16000000.0,92800000.0,1989-07-21,Romance,96.0,7.6,180871.0,Harry and Sally have known each other for year...
7,8,Dead Poets Society,PG,16400000.0,235860116.0,1989-06-02,Drama,129.0,8.1,382002.0,English teacher John Keating inspires his stud...
8,9,Parenthood,PG-13,20000000.0,126297830.0,1989-07-31,Comedy,124.0,7.0,41866.0,The Buckmans are a midwestern family all deali...
9,10,Lethal Weapon 2,R,25000000.0,227853986.0,1989-07-07,Comedy,114.0,7.2,151737.0,Riggs and Murtaugh are on the trail of South A...

In [ ]:
movies_df.shape # (616 lines, 11 columns)
movies_df.info # (from index 615 NaN, movies towards the end of list without rating, rating count, etc.)
movies_df.dtypes # (interesting fact: release date identified as object, otherwise everything seems to correctly identified)
movies_df.describe # (similar to info, column headers in output not in line with row values)
movies_df.nunique() # (MovieID unique, Title with 7 non-uniques!, etc.)

# check how many NaN we have for MPAA Rating, Budget, Gross, 
# Release Date, Genre, Runtime, Rating and Rating Count columns
movies_df.isna

# QUESTION: Would NaN appear as last category in count? -> ANSWER "NO"
movies_df["Rating"].value_counts() # no NaN -> does not show NaN

movies_df[movies_df["MPAA Rating"].isnull()] # only index 615 showing = first empty row
movies_df[movies_df["Budget"].isnull()] # only index 615 showing = first empty row
movies_df[movies_df["Gross"].isnull()] # only index 615 showing = first empty row
movies_df[movies_df["Release Date"].isnull()] # only index 615 showing = first empty row
movies_df[movies_df["Genre"].isnull()] # only index 615 showing = first empty row
movies_df[movies_df["Budget"].isnull()] # only index 615 showing = first empty row
movies_df[movies_df["Runtime"].isnull()] # only index 615 showing = first empty row
movies_df[movies_df["Rating"].isnull()] # 108 rows affected (NaN)
movies_df[movies_df["Rating Count"].isnull()] # 108 rows affected (NaN)
movies_df[movies_df["Summary"].isnull()] # 120 rows affected (NaN)

# Identify Duplicates in column "Title"

movies_df[movies_df["Title"].duplicated(keep=False)] 
# sort by title missing!!!


# Observation: will only show me the "second item" = duplicate
# Does not show the two identical records

# movies_df[movies_df["Title"] == 'Jurassic Park III'] 
# Observation: similar data, just different genre, much higher rating in Thriller, decision criteria which to remove

# movies_df[movies_df["Title"] == 'Teenage Mutant Ninja Turtles'] 
# Observation 24 years in between release dates -> Change title necessary to be unique?

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
21,22,Teenage Mutant Ninja Turtles,PG,13500000.0,2.020000e+08,1990-03-30,Action,93.0,6.8,79806.0,Four teenage mutant ninja turtles emerge from ...
46,47,Beauty and the Beast,PG,25000000.0,3.773506e+08,1991-11-13,Animation,84.0,8.0,397467.0,A prince cursed to spend his days as a hideous...
65,66,Aladdin,G,28000000.0,5.040502e+08,1992-11-25,Animation,90.0,8.0,336384.0,A kindhearted street urchin and a power-hungry...
98,99,Jurassic Park III,PG-13,93000000.0,3.688000e+08,2001-07-16,Thriller,92.0,8.9,1690474.0,A decidedly odd couple with ulterior motives ...
107,108,The Lion King,G,45000000.0,7.882418e+08,1994-06-23,Animation,89.0,8.5,869127.0,A Lion cub crown prince is tricked by a treach...
195,196,Godzilla,PG-13,130000000.0,3.790143e+08,1998-05-20,Thriller,139.0,5.4,174600.0,"A giant, reptilian monster surfaces, leaving d..."
249,250,Jurassic Park III,PG-13,93000000.0,3.687808e+08,2001-07-18,Adventure,92.0,5.9,280110.0,A decidedly odd couple with ulterior motives c...
501,502,Teenage Mutant Ninja Turtles,PG-13,125000000.0,4.772000e+08,2014-08-07,Action,101.0,5.8,194073.0,"When a kingpin threatens New York City, a grou..."
504,505,Godzilla,PG-13,160000000.0,5.290761e+08,2014-05-14,Thriller,123.0,6.4,359438.0,The world is beset by the appearance of monstr...
565,566,Beauty and the Beast,PG,160000000.0,1.262886e+09,2017-03-16,Drama,129.0,NaN,NaN,NaN
609,610,Aladdin,PG,183000000.0,1.049000e+09,2019-05-08,Fantasy,128.0,NaN,NaN,NaN
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,NaN,NaN,NaN

In [4]:
# Task: Get rid of the Summary column (use the drop() method)
# movies_df_lcr = movies_df.drop("Summary", axis='columns', inplace=True) #error on 2nd run, i.e. worked permanently


# Task: use the rename method to change all column names to lowercase, and replace spaces with underscores
# if the name is made up of more than one word.
# movies_df.rename(columns={"MovieID": "movie_id", "Title": "title", "MPAA Rating": "mpaa_rating", "Budget": "budget", 
#                          "Gross": "gross", "Release Date": "release_date", "Genre": "genre", "Runtime": "runtime", 
#                          "Rating": "rating", "Rating Count": "rating_count"}, inplace=True)


# Task: Get rid of the last row, the one containing NaN for each column (use drop() method and row index)
# Row index is 615
# movies_df_615 = movies_df.drop(index=615, inplace=True) #Error in execution of code after removal!
movies_df.reset_index(drop=True, inplace=True)
movies_df
# Why do I keep having second index?


# Task: use the fillna() method to replace the missing values of Rating with their median value.
# median_rating = movies_df["rating"].median() 
# print(median_rating)
# movies_df['rating'] = movies_df[['rating']].fillna(median_rating, inplace=True) 
# print(movies_df)

# recommended version:
movies_df.fillna({ 'rating': movies_df['rating'].median() }, inplace=True)
movies_df


# Task: Drop the duplicates, if any.



# Task: Convert Budget into integer type (use the astype() method)



# Task: Convert Gross into integer type



# Task: Convert Release Date into date type (use the to_datetime method)

KeyError: 'rating'

In [ ]:
# show the movies with more than 7 in Rating & greater than 50 million Gross
# show the movies with more than 7 in Rating & greater than 50 million Gross & with Parental guidance as MPAA Rating
# show the count of Animation movies with more than 7 in Rating (use the shape() method)
# show the top 5 movies based on Budget
# show the top 5 Comedy movies by Rating
# top 5 movie names by Rating
# top 3 high Gross Romance movies released after 1999 (typecast it to datetime)
# how many Genres are present in the dataframe? (use value_counts() method which applies to Series, not Dataframe)
# top 5 most expensive movies released after 1999 (measured by Budget)
# most & least frequent MPAA Rating in the dataset in terms of occurrences
# most & least expensive Genre (take an average of all Budget measures grouped by Genre - use the groupBy() method)
# which Genre is favoured the most?